.Header{
	height: 10%;
	text-align: center;
	padding-top: 10px;
}

h1{
	font-size: 5vw;
	color: #487591;
	background: -webkit-linear-gradient(30deg, #487591,#625DA1 30%,#4DD7E3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



/*　ハンバーガーボタン　*/
.Hamburger {
	display : block;
	position: fixed;
	z-index : 3;
	left : 13px;
	width : 42px;
	height: 42px;
	cursor: pointer;
	text-align: center;
  }
  .Hamburger span {
	display : block;
	position: absolute;
	width   : 30px;
	height  : 2px ;
	left    : 6px;
	background : #555;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition   : 0.3s ease-in-out;
	transition        : 0.3s ease-in-out;
  }
  .Hamburger span:nth-child(1) {
	top: 10px;
  }
  .Hamburger span:nth-child(2) {
	top: 20px;
  }
  .Hamburger span:nth-child(3) {
	top: 30px;
  }
  
  .Hamburger.active span:nth-child(1),
  .Hamburger.active span:nth-child(3) {
	width : 14px;
  }
  .Hamburger.active span:nth-child(1){
  
	-webkit-transform:    translate(17px,5px) rotate(45deg);
	-moz-transform   : translate(17px,5px) rotate(45deg);
	transform        : translate(17px,5px) rotate(45deg);
  }
  .Hamburger.active span:nth-child(3){
   
	-webkit-transform: translate(17px,-5px) rotate(-45deg);
	-moz-transform   : translate(17px,-5px) rotate(-45deg);
	transform        : translate(17px,-5px) rotate(-45deg);
  }
  nav.Menu {
	position: fixed;
	z-index : 2;
	left : 0;
	color: #000;
	background: #fff;
	text-align: center;
	transform: translateX(-100%);
	transition: all 0.6s;
	width: 100%;
  }
  
  nav.Menu ul {
	background: #487591;
	margin: 0 auto;
	padding: 0;
	width: 100%;
  }
  
  nav.Menu ul li {
	list-style-type: none;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #fff;
  }
  nav.Menu ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
  }
  nav.Menu ul li:hover{
	background :#625DA1;
  }
  
  nav.Menu ul li a {
	display: block;
	color: #4DD7E3;
	padding: 1.4em 0;
	text-decoration :none;
  }
  
  nav.Menu.active {
	transform: translateX(0%);
  }

  main{
	  padding-top: 250px;
	  text-align: center;
  }

  .Valz_img img{
	  border-radius: 50%;
	  width: 30%;
  }

  .Movie_icon{
	  width: 20%;
  }

